# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.LifeOfAStudent.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Ricarda Luther\Documents\Uni\Master\Uno\IntroductionToUnity\LifeOfAStudent\.idea\.idea.LifeOfAStudent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
